@model CheeseMVC.Models.CheeseCategory

@if (categories != null)
{
    foreach(var category in categories){
        <ul>@category</ul>
    }
}

<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>